# Hackathon: From Raw Data to ML-Ready Dataset
## Insight-Driven EDA and End-to-End Feature Engineering on Airbnb Data Using pandas and Plotly

### What is a Hackathon?

A hackathon is a fast-paced, collaborative event where participants use data and technology to solve a real problem end-to-end.  
In this hackathon, you will work with a **real-world Airbnb dataset** and complete two interconnected goals:

- Produce a **high-quality exploratory data analysis (EDA)** using `pandas` and `plotly`, extracting meaningful insights, trends, and signals from the data.  
- Design and deliver a **clean, feature-rich, ML-ready dataset** that will serve as the foundation for a follow-up hackathon focused on building and evaluating machine learning models.

Your task is to **get the most out of the data**: uncover structure and patterns through EDA, and engineer informative features (numerical, categorical, temporal, textual (TF–IDF), and optionally image-based) to maximize the predictive power of the final dataset.

<div class="alert alert-success">
<b>About the Dataset</b>

<u>Context</u>

The data comes from <a href="https://insideairbnb.com/get-the-data/">Inside Airbnb</a>, an open project that publishes detailed, regularly updated datasets for cities around the world.  
Each city provides three main CSV files:

- <b>listings.csv</b> — property characteristics, host profiles, descriptions, amenities, etc.  
- <b>calendar.csv</b> — daily availability and pricing information for each listing.  
- <b>reviews.csv</b> — guest feedback and textual reviews.

These datasets offer a rich view of the short-term rental market, including availability patterns, pricing behavior, host attributes, and guest sentiment.  

<u>Inspiration</u>

Your ultimate objective is to create a dataset suitable for training a machine learning model that predicts whether a specific Airbnb listing will be <b>available on a given date</b>, using property attributes, review information, and host characteristics.
</div>

<div class="alert alert-info">
<b>Task</b>

Using one city of your choice from Inside Airbnb, create an end-to-end pipeline that:

1. Loads and explores the raw data (EDA).  
2. Engineers features (numerical, categorical, temporal, textual TF–IDF, etc.).  
3. Builds a unified ML-ready dataset.  

Please remember to add comments explaining your decisions. Comments help us understand your thought process and ensure accurate evaluation of your work. This assignment requires code-based solutions—**manually calculated or hard-coded results will not be accepted**. Thoughtful comments and visualizations are encouraged and will be highly valued.

- Write your solution directly in this notebook, modifying it as needed.
- Once completed, submit the notebook in **.ipynb** format via Moodle.
    
<b>Collaboration Requirement: Git & GitHub</b>

You must collaborate with your team using a **shared GitHub repository**.  
Your use of Git is part of the evaluation. We will specifically look at:

- Commit quality (clear messages, meaningful steps).  
- Balanced participation across team members.  
- Use of branches.  
- Ability to resolve merge conflicts appropriately.  
- A clean, readable project history that reflects real collaboration.

Good Git practice is **part of your grade**, not optional.
</div>
<div class="alert alert-danger">
    You are free to add as many cells as you wish as long as you leave untouched the first one.
</div>

<div class="alert alert-warning">

<b>Hints</b>

- Text columns often carry substantial predictive power, use text-vectorization methods to extract meaningful features.  
- Make sure all columns use appropriate data types (categorical, numeric, datetime, boolean). Correct dtypes help prevent subtle bugs and improve performance.  
- Feel free to enrich the dataset with any additional information you consider useful: engineered features, external data, derived temporal features, etc.  
- If the dataset is too large for your computer, use <code>.sample()</code> to work with a subset while preserving the logic of your pipeline.  
- Plotly offers a wide variety of powerful visualizations, experiment creatively, but always begin with a clear analytical question: *What insight am I trying to uncover with this plot?*

</div>




<div class="alert alert-danger">
<b>Submission Deadline:</b> Wednesday, December 3rd, 12:00

Start with a simple, working pipeline.  
Do not over-complicate your code too much. Start with a simple working solution and refine it if you have time.
</div>

<div class="alert alert-danger">
    
You may add as many cells as you want, but the **first cell must remain exactly as provided**. Do not edit, move, or delete it under any circumstances.
</div>

In [ ]:
# LEAVE BLANK

### Team Information

Fill in the information below.  
All fields are **mandatory**.

- **GitHub Repository URL**: Paste the link to the team repo you will use for collaboration.
- **Team Members**: List all student names (and emails or IDs if required).

Do not modify the section title.  
Do not remove this cell.

In [ ]:
# === Team Information (Mandatory) ===
# Fill in the fields below.

GITHUB_REPO = ""       # e.g. "https://github.com/myteam/airbnb-hackathon"
TEAM_MEMBERS = [
    # "Full Name 1",
    # "Full Name 2",
    # "Full Name 3",
]

GITHUB_REPO, TEAM_MEMBERS

# Step 1 – Load Airbnb data and basic overview

In this section, we will:

1. Import the main Python libraries we need.
2. Load the raw CSV files (listings, calendar, reviews).
3. Quickly inspect the structure of each dataset.

The goal is to understand:
- How many rows and columns we have.
- What the key identifier is (usually `listing_id` or `id`).
- Which tables we will join later.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

## 1.1 Load raw CSV files

Here we load the raw Airbnb datasets.  
You should replace the file names with the ones provided in your hackathon
(e.g. `listings.csv`, `calendar.csv`, `reviews.csv`).

In [2]:
listings = pd.read_csv(r"C:\Users\asist\Documents\ESADE\Courses\Python\listings.csv.gz")
calendar = pd.read_csv(r"C:\Users\asist\Documents\ESADE\Courses\Python\calendar.csv.gz")
reviews  = pd.read_csv(r"C:\Users\asist\Documents\ESADE\Courses\Python\reviews.csv.gz")

## 1.2 Basic shape and preview of each dataset

Now we check how many rows and columns each table has,
and we look at the first few rows to understand the structure.

In [3]:
print("Listings shape:", listings.shape)
display(listings.head())

print("Calendar shape:", calendar.shape)
display(calendar.head())

print("Reviews shape:", reviews.shape)
display(reviews.head())

Listings shape: (10480, 79)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,27886,https://www.airbnb.com/rooms/27886,20250911031321,2025-09-11,city scrape,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,"Central, quiet, safe, clean and beautiful.",https://a0.muscache.com/pictures/02c2da9d-660e...,97647,...,4.93,4.90,4.78,0363 974D 4986 7411 88D8,f,1,0,1,0,1.87
1,28871,https://www.airbnb.com/rooms/28871,20250911031321,2025-09-11,city scrape,Comfortable double room,Basic bedroom in the center of Amsterdam.,"Flower market , Leidseplein , Rembrantsplein",https://a0.muscache.com/pictures/160889/362340...,124245,...,4.94,4.93,4.83,0363 607B EA74 0BD8 2F6F,f,2,0,2,0,3.99
2,29051,https://www.airbnb.com/rooms/29051,20250911031321,2025-09-11,city scrape,Comfortable single / double room,This room can also be rented as a single or a ...,the street is quite lively especially on weeke...,https://a0.muscache.com/pictures/162009/bd6be2...,124245,...,4.92,4.87,4.79,0363 607B EA74 0BD8 2F6F,f,2,0,2,0,4.81
3,44391,https://www.airbnb.com/rooms/44391,20250911031321,2025-09-11,previous scrape,Quiet 2-bedroom Amsterdam city centre apartment,Guests greatly appreciate the unique location ...,The appartment is located in the city centre. ...,https://a0.muscache.com/pictures/97741545/3900...,194779,...,4.90,4.68,4.50,0363 E76E F06A C1DD 172C,f,1,1,0,0,0.23
4,48373,https://www.airbnb.com/rooms/48373,20250911031321,2025-09-11,previous scrape,Cozy family home in Amsterdam South,Charming modern apartment in the quiet and gre...,Apartment is located between Amsterdamse Bos a...,https://a0.muscache.com/pictures/miso/Hosting-...,220434,...,5.00,4.60,5.00,0363 4A2B A6AD 0196 F684,f,1,1,0,0,0.19

Calendar shape: (3825200, 7)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,538723,2025-09-11,f,NaN,NaN,5,30
1,538723,2025-09-12,f,NaN,NaN,5,30
2,538723,2025-09-13,f,NaN,NaN,5,30
3,538723,2025-09-14,f,NaN,NaN,5,30
4,538723,2025-09-15,f,NaN,NaN,5,30

Reviews shape: (501084, 6)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,839610,33387684,2015-05-27,32412055,Giuseppe,Nice time in nice place! Close to city center!...
1,839610,33865462,2015-06-01,33521461,Chi Kwan,The host is very friendly and helpful
2,839610,47062612,2015-09-15,25521258,Scott,"Michael, Jacob's son was the one to coordinate..."
3,839610,49847491,2015-10-06,32115691,Omer,Our stay was excelent. The appartment was clea...
4,839610,62280485,2016-02-13,16551781,Nina,it's very good! thanks! it's very beautiful al...

## 1.3 Inspect column names and data types

Now we quickly inspect the column names and data types,
so we can plan which variables to clean and transform.

In [6]:
print("Listings info:")
listings.info()

Listings info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10480 entries, 0 to 10479
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            10480 non-null  int64
 1   listing_url                                   10480 non-null  object
 2   scrape_id                                     10480 non-null  int64
 3   last_scraped                                  10480 non-null  object
 4   source                                        10480 non-null  object
 5   name                                          10480 non-null  object
 6   description                                   10132 non-null  object
 7   neighborhood_overview                         5192 non-null   object
 8   picture_url                                   10480 non-null  object
 9   host_id                                       10480 non-null  int64
 10  host_url                                      10480 non-null  object
 11  host_name                                     10477 non-null  object
 12  host_since                                    10477 non-null  object
 13  host_location                                 9248 non-null   object
 14  host_about                                    5510 non-null   object
 15  host_response_time                            6683 non-null   object
 16  host_response_rate                            6683 non-null   object
 17  host_acceptance_rate                          8050 non-null   object
 18  host_is_superhost                             10365 non-null  object
 19  host_thumbnail_url                            10477 non-null  object
 20  host_picture_url                              10477 non-null  object
 21  host_neighbourhood                            2790 non-null   object
 22  host_listings_count                           10477 non-null  float64
 23  host_total_listings_count                     10477 non-null  float64
 24  host_verifications                            10477 non-null  object
 25  host_has_profile_pic                          10477 non-null  object
 26  host_identity_verified                        10477 non-null  object
 27  neighbourhood                                 5192 non-null   object
 28  neighbourhood_cleansed                        10480 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      10480 non-null  float64
 31  longitude                                     10480 non-null  float64
 32  property_type                                 10480 non-null  object
 33  room_type                                     10480 non-null  object
 34  accommodates                                  10480 non-null  int64
 35  bathrooms                                     5932 non-null   float64
 36  bathrooms_text                                10468 non-null  object
 37  bedrooms                                      10174 non-null  float64
 38  beds                                          5904 non-null   float64
 39  amenities                                     10480 non-null  object
 40  price                                         5874 non-null   object
 41  minimum_nights                                10480 non-null  int64
 42  maximum_nights                                10480 non-null  int64
 43  minimum_minimum_nights                        10476 non-null  float64
 44  maximum_minimum_nights                        10476 non-null  float64
 45  minimum_maximum_nights                        10476 non-null  float64
 46  maximum_maximum_nights                        10476 non-null  float64
 47  minimum_nights_avg_ntm                        10480 non-null  float64
 48  maximum_nights_avg_ntm                        10480 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              10137 non-null  object
 51  availability_30                               10480 non-null  int64
 52  availability_60                               10480 non-null  int64
 53  availability_90                               10480 non-null  int64
 54  availability_365                              10480 non-null  int64
 55  calendar_last_scraped                         10480 non-null  object
 56  number_of_reviews                             10480 non-null  int64
 57  number_of_reviews_ltm                         10480 non-null  int64
 58  number_of_reviews_l30d                        10480 non-null  int64
 59  availability_eoy                              10480 non-null  int64
 60  number_of_reviews_ly                          10480 non-null  int64
 61  estimated_occupancy_l365d                     10480 non-null  int64
 62  estimated_revenue_l365d                       5874 non-null   float64
 63  first_review                                  9383 non-null   object
 64  last_review                                   9383 non-null   object
 65  review_scores_rating                          9383 non-null   float64
 66  review_scores_accuracy                        9383 non-null   float64
 67  review_scores_cleanliness                     9382 non-null   float64
 68  review_scores_checkin                         9383 non-null   float64
 69  review_scores_communication                   9383 non-null   float64
 70  review_scores_location                        9383 non-null   float64
 71  review_scores_value                           9383 non-null   float64
 72  license                                       10361 non-null  object
 73  instant_bookable                              10480 non-null  object
 74  calculated_host_listings_count                10480 non-null  int64
 75  calculated_host_listings_count_entire_homes   10480 non-null  int64
 76  calculated_host_listings_count_private_rooms  10480 non-null  int64
 77  calculated_host_listings_count_shared_rooms   10480 non-null  int64
 78  reviews_per_month                             9383 non-null   float64
dtypes: float64(24), int64(20), object(35)
memory usage: 6.3+ MB

In [7]:
print("\nCalendar info:")
calendar.info()

Calendar info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3825200 entries, 0 to 3825199
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           float64
 4   adjusted_price  float64
 5   minimum_nights  int64
 6   maximum_nights  int64
dtypes: float64(2), int64(3), object(2)
memory usage: 204.3+ MB

In [8]:

print("\nReviews info:")
reviews.info()

Reviews info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501084 entries, 0 to 501083
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     501084 non-null  int64
 1   id             501084 non-null  int64
 2   date           501084 non-null  object
 3   reviewer_id    501084 non-null  int64
 4   reviewer_name  501083 non-null  object
 5   comments       501053 non-null  object
dtypes: int64(3), object(3)
memory usage: 22.9+ MB

# Step 2 – Exploratory Data Analysis (EDA) and Missing Values

In this section, we will:

1. Get a quick statistical summary of key numeric variables.
2. Analyze missing values in each dataset.
3. Make initial decisions about which columns to keep, drop, or clean.

This step prepares the ground for feature engineering:
we need to know which columns are reliable and which ones are too noisy.

## Listing missing values

In [14]:
missing_listings = (
    listings.isna()
    .mean()
    .sort_values(ascending=False)
    .to_frame(name="percent_missing")
)

missing_listings.head(24)

                              percent_missing
neighbourhood_group_cleansed         1.000000
calendar_updated                     1.000000
host_neighbourhood                   0.733779
neighbourhood                        0.504580
neighborhood_overview                0.504580
host_about                           0.474237
estimated_revenue_l365d              0.439504
price                                0.439504
beds                                 0.436641
bathrooms                            0.433969
host_response_rate                   0.362309
host_response_time                   0.362309
host_acceptance_rate                 0.231870
host_location                        0.117557
review_scores_cleanliness            0.104771
review_scores_accuracy               0.104676
first_review                         0.104676
review_scores_communication          0.104676
review_scores_location               0.104676
review_scores_value                  0.104676
reviews_per_month                    0.104676
review_scores_rating                 0.104676
last_review                          0.104676
review_scores_checkin                0.104676

## Calendar missing values

In [16]:
missing_calendar = (
    calendar.isna()
    .mean()
    .sort_values(ascending=False)
    .to_frame(name="percent_missing")
)
missing_calendar.head(20)

                percent_missing
price                       1.0
adjusted_price              1.0
listing_id                  0.0
available                   0.0
date                        0.0
minimum_nights              0.0
maximum_nights              0.0

## Review missing values

In [18]:
missing_reviews = (
    reviews.isna()
    .mean()
    .sort_values(ascending=False)
    .to_frame(name="percent_missing")
)
missing_reviews.head(20)

               percent_missing
comments              0.000062
reviewer_name         0.000002
id                    0.000000
listing_id            0.000000
reviewer_id           0.000000
date                  0.000000

## 2.4 Simple decision rules for missing values (conceptual)

At this point, we can start to define simple rules for later cleaning:

- Drop columns with extremely high missing percentage 
  (for example, > 80%), *unless* they are critical.
- For important numeric columns (e.g. `price`, `minimum_nights`):
  - If missing percentage is small, we can:
    - Impute with median/mean
- For important categorical columns (e.g. `room_type`, `neighbourhood`):
  - We can:
    - Impute with the most frequent category (mode), or
    - Create an `"Unknown"` category.
- For text columns (e.g. `description`, `comments`):
  - Missing text can be filled with a placeholder like `"no description"`.

We do **not** have to apply all cleaning decisions now,
but we need this high-level plan before doing feature engineering.

In [24]:
# Optional: bar plot of top 15 missing columns in listings
top_missing = missing_listings.head(15).reset_index()
top_missing.columns = ["column", "percent_missing"]

fig = px.bar(
    top_missing,
    x="column",
    y="percent_missing",
    title="Top 15 columns by missing percentage in listings",
)
fig.update_layout(xaxis_title="Column", yaxis_title="Percent missing")
fig.show()

# Step 3 – Listing‑level numeric and categorical features

In this step we will:

1. Clean important numeric columns (e.g. `price`).
2. Create a few simple numeric features.
3. Select and prepare categorical columns that will be useful for ML.

The goal is to build a clean `df_listings_features` DataFrame,
with one row per listing and only well‑defined columns.

### 3.1 Clean price and other numeric columns

In [25]:
listings_feat = listings.copy()

# Example: clean price if it is stored as a string like "$120" or "$1,200.00"
if listings_feat["price"].dtype == "object":
    listings_feat["price_clean"] = (
        listings_feat["price"]
        .astype(str)
        .str.replace("$", "", regex=False)
        .str.replace(",", "", regex=False)
        .astype(float)
    )
else:
    listings_feat["price_clean"] = listings_feat["price"]

# Optional: clip extreme prices to reduce the impact of outliers
listings_feat["price_clean"] = listings_feat["price_clean"].clip(lower=10, upper=listings_feat["price_clean"].quantile(0.99))

In [26]:
# Ensure minimum_nights is numeric (if needed)
if listings_feat["minimum_nights"].dtype == "object":
    listings_feat["minimum_nights"] = (
        listings_feat["minimum_nights"]
        .astype(str)
        .str.replace(",", "", regex=False)
        .astype(float)
    )

## 3.2 Create simple numeric features

In [27]:
# Example: estimated revenue for the minimum stay (price * minimum_nights)
listings_feat["rev_min_stay"] = listings_feat["price_clean"] * listings_feat["minimum_nights"]

# Optional: log‑transform price to reduce skewness
listings_feat["log_price"] = np.log1p(listings_feat["price_clean"])

## 3.3 Select and clean categorical columns

In [28]:
# Choose a few important categorical columns (adjust to your real columns)
cat_cols = []
for c in ["room_type", "property_type", "neighbourhood_group_cleansed", "neighbourhood_cleansed"]:
    if c in listings_feat.columns:
        cat_cols.append(c)

cat_cols

['room_type',
 'property_type',
 'neighbourhood_group_cleansed',
 'neighbourhood_cleansed']

In [29]:
# Fill missing values in categorical columns with "Unknown"
for c in cat_cols:
    listings_feat[c] = listings_feat[c].fillna("Unknown")

## 3.4 One‑hot encode categorical variables (basic version)

In [31]:
listings_cat_dummies = pd.get_dummies(
    listings_feat[cat_cols],
    prefix=cat_cols,
    drop_first=False
)

listings_cat_dummies.shape

(10480, 90)

## 3.5 Build the final listing‑level feature table

In [32]:
# Select key numeric features we want to keep
num_feature_cols = []
for c in ["price_clean", "rev_min_stay", "log_price", "minimum_nights", "number_of_reviews", "reviews_per_month", "availability_365"]:
    if c in listings_feat.columns:
        num_feature_cols.append(c)

# Choose an ID column (adjust to your dataset: "id" or "listing_id")
id_col = "id" if "id" in listings_feat.columns else "listing_id"

df_listings_features = pd.concat(
    [
        listings_feat[[id_col] + num_feature_cols].reset_index(drop=True),
        listings_cat_dummies.reset_index(drop=True),
    ],
    axis=1
)

df_listings_features.head()

,id,price_clean,rev_min_stay,log_price,minimum_nights,number_of_reviews,reviews_per_month,availability_365,room_type_Entire home/apt,room_type_Hotel room,...,neighbourhood_cleansed_Noord-Oost,neighbourhood_cleansed_Noord-West,neighbourhood_cleansed_Oostelijk Havengebied - Indische Buurt,neighbourhood_cleansed_Osdorp,neighbourhood_cleansed_Oud-Noord,neighbourhood_cleansed_Oud-Oost,neighbourhood_cleansed_Slotervaart,neighbourhood_cleansed_Watergraafsmeer,neighbourhood_cleansed_Westerpark,neighbourhood_cleansed_Zuid
0,27886,132.0,396.0,4.890349,3,311,1.87,17,False,False,...,False,False,False,False,False,False,False,False,False,False
1,28871,89.0,178.0,4.499810,2,732,3.99,126,False,False,...,False,False,False,False,False,False,False,False,False,False
2,29051,61.0,122.0,4.127134,2,849,4.81,95,False,False,...,False,False,False,False,False,False,False,False,False,False
3,44391,NaN,NaN,NaN,3,42,0.23,0,True,False,...,False,False,False,False,False,False,False,False,False,False
4,48373,NaN,NaN,NaN,3,5,0.19,0,True,False,...,False,False,False,False,False,False,False,False,False,False

# Step 4 – Calendar‑based temporal features

In this step we will:

1. Convert the calendar date column to a proper datetime type.
2. Create temporal features such as month and season.
3. Aggregate availability information per listing (e.g., average availability).
4. Build a `df_calendar_features` table (one row per listing) that we can merge later.

Calendar data captures occupancy patterns and seasonality,
which are very important signals for any Airbnb model.

## 4.1 Basic cleaning of calendar table

In [33]:
calendar_feat = calendar.copy()

# Guess the ID column name
cal_id_col = "listing_id" if "listing_id" in calendar_feat.columns else "id"

# Convert date column to datetime
if calendar_feat["date"].dtype == "object":
    calendar_feat["date"] = pd.to_datetime(calendar_feat["date"])

## 4.2 Create month and season

In [34]:
calendar_feat["month"] = calendar_feat["date"].dt.month

# Map month to season (simple Northern‑Hemisphere convention)
month_to_season = {
    12: "Winter", 1: "Winter", 2: "Winter",
    3: "Spring", 4: "Spring", 5: "Spring",
    6: "Summer", 7: "Summer", 8: "Summer",
    9: "Autumn", 10: "Autumn", 11: "Autumn",
}

calendar_feat["season"] = calendar_feat["month"].map(month_to_season)

## 4.3 Ensure availability is numeric (0/1)

In [35]:
# Many Airbnb calendars store availability as 't'/'f' or 'available'/'not available'
if calendar_feat["available"].dtype == "object":
    calendar_feat["available_flag"] = calendar_feat["available"].map({
        "t": 1, "f": 0,
        "available": 1, "not available": 0
    })
else:
    # Assume it's already 0/1
    calendar_feat["available_flag"] = calendar_feat["available"]

## 4.4 Aggregate availability per listing (overall, by season)

In [36]:
# Overall availability rate per listing
cal_overall = (
    calendar_feat
    .groupby(cal_id_col)["available_flag"]
    .mean()
    .to_frame(name="cal_share_available_overall")
)

# Availability rate per listing and season
cal_season = (
    calendar_feat
    .groupby([cal_id_col, "season"])["available_flag"]
    .mean()
    .unstack("season")
    .add_prefix("cal_share_available_")
)

cal_overall.head(), cal_season.head()

(            cal_share_available_overall
 listing_id
 27886                          0.046575
 28871                          0.345205
 29051                          0.260274
 44391                          0.000000
 48373                          0.000000,
 season      cal_share_available_Autumn  cal_share_available_Spring  \
 listing_id
 27886                         0.164835                    0.000000
 28871                         0.208791                    0.423913
 29051                         0.109890                    0.347826
 44391                         0.000000                    0.000000
 48373                         0.000000                    0.000000

 season      cal_share_available_Summer  cal_share_available_Winter
 listing_id
 27886                         0.000000                    0.022222
 28871                         0.543478                    0.200000
 29051                         0.423913                    0.155556
 44391                         0.000000                    0.000000
 48373                         0.000000                    0.000000  )

## 4.5 Optional: lead‑time features (only if data is available)

If the calendar includes a column that represents how many days in advance
a booking or availability is recorded (e.g. `cal_lead_days`),
we can compute average lead‑time per listing.

This captures whether a listing gets booked very early or mostly last‑minute.

In [37]:
if "cal_lead_days" in calendar_feat.columns:
    cal_lead = (
        calendar_feat
        .groupby(cal_id_col)["cal_lead_days"]
        .mean()
        .to_frame(name="cal_avg_lead_days")
    )
else:
    cal_lead = pd.DataFrame()

## 4.6 Build df_calendar_features

In [38]:
# Start from overall + season availability
df_calendar_features = cal_overall.join(cal_season, how="left")

# If we have lead‑time, join it as well
if not cal_lead.empty:
    df_calendar_features = df_calendar_features.join(cal_lead, how="left")

df_calendar_features.head()

,cal_share_available_overall,cal_share_available_Autumn,cal_share_available_Spring,cal_share_available_Summer,cal_share_available_Winter
listing_id,,,,,
27886,0.046575,0.164835,0.000000,0.000000,0.022222
28871,0.345205,0.208791,0.423913,0.543478,0.200000
29051,0.260274,0.109890,0.347826,0.423913,0.155556
44391,0.000000,0.000000,0.000000,0.000000,0.000000
48373,0.000000,0.000000,0.000000,0.000000,0.000000

# Step 5 – Text features and final ML‑ready dataset

In this step we will:

1. Build simple text features from listing descriptions (TF–IDF).
2. Optionally aggregate review text per listing and extract TF–IDF as well.
3. Merge:
   - `df_listings_features`
   - `df_calendar_features`
   - text features
   into a final `df_final` dataset ready for ML models.

## 5.1 Prepare description text

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Work on a copy of listing features
listings_text = listings.copy()

# Choose a text column (adjust to your dataset)
text_col = "description" if "description" in listings_text.columns else None

if text_col is not None:
    # Fill missing descriptions with a placeholder
    listings_text[text_col] = listings_text[text_col].fillna("no description").astype(str)
else:
    print("No description column found; skipping listing text TF–IDF.")

## 5.2 TF–IDF on listing descriptions

In [40]:
if text_col is not None:
    # Limit the number of features to keep things manageable (e.g. 200 terms)
    tfidf = TfidfVectorizer(
        max_features=200,
        stop_words="english"  # or "spanish" if most text is in Spanish
    )

    text_matrix = tfidf.fit_transform(listings_text[text_col])

    # Convert sparse matrix to DataFrame
    tfidf_feature_names = [f"tfidf_desc_{w}" for w in tfidf.get_feature_names_out()]
    df_desc_tfidf = pd.DataFrame(
        text_matrix.toarray(),
        columns=tfidf_feature_names
    )

    # Add ID column to align with other feature tables
    id_col = "id" if "id" in listings_text.columns else "listing_id"
    df_desc_tfidf[id_col] = listings_text[id_col].values

    df_desc_tfidf.head()
else:
    df_desc_tfidf = pd.DataFrame()

## 5.3 Optional: aggregate review comments per listing

In [41]:
# Only if there is a column with review text (e.g. "comments")
if "comments" in reviews.columns:
    # Choose ID column in reviews
    rev_id_col = "listing_id" if "listing_id" in reviews.columns else "id"

    # Aggregate all comments per listing into a single big text
    reviews_text = (
        reviews
        .groupby(rev_id_col)["comments"]
        .apply(lambda x: " ".join(x.dropna().astype(str)))
        .reset_index()
    )

    reviews_text["comments"] = reviews_text["comments"].fillna("no review").astype(str)

    # TF–IDF for reviews
    tfidf_reviews = TfidfVectorizer(
        max_features=200,
        stop_words="english"  # or "spanish" if appropriate
    )
    reviews_matrix = tfidf_reviews.fit_transform(reviews_text["comments"])

    tfidf_rev_names = [f"tfidf_rev_{w}" for w in tfidf_reviews.get_feature_names_out()]
    df_reviews_tfidf = pd.DataFrame(
        reviews_matrix.toarray(),
        columns=tfidf_rev_names
    )
    df_reviews_tfidf[rev_id_col] = reviews_text[rev_id_col].values
else:
    df_reviews_tfidf = pd.DataFrame()

## 5.4 Merge all feature tables into df_final

In [42]:
# Ensure consistent ID column name across tables
id_col_listings = "id" if "id" in df_listings_features.columns else "listing_id"
id_col_calendar = df_calendar_features.index.name  # index is the ID in calendar features

# Reset index of calendar features so ID is a column
df_calendar_features_reset = df_calendar_features.reset_index().rename(columns={id_col_calendar: id_col_listings})

df_final = df_listings_features.merge(
    df_calendar_features_reset,
    on=id_col_listings,
    how="left"
)

# Merge description TF–IDF
if not df_desc_tfidf.empty:
    df_final = df_final.merge(
        df_desc_tfidf,
        on=id_col_listings,
        how="left"
    )

# Merge review TF–IDF
if not df_reviews_tfidf.empty:
    # Align ID column names if needed
    rev_id_col = "listing_id" if "listing_id" in df_reviews_tfidf.columns else "id"
    if rev_id_col != id_col_listings:
        df_reviews_tfidf = df_reviews_tfidf.rename(columns={rev_id_col: id_col_listings})

    df_final = df_final.merge(
        df_reviews_tfidf,
        on=id_col_listings,
        how="left"
    )

df_final.head()

,id,price_clean,rev_min_stay,log_price,minimum_nights,number_of_reviews,reviews_per_month,availability_365,room_type_Entire home/apt,room_type_Hotel room,...,tfidf_rev_walking,tfidf_rev_want,tfidf_rev_war,tfidf_rev_warm,tfidf_rev_way,tfidf_rev_welcome,tfidf_rev_welcoming,tfidf_rev_wir,tfidf_rev_wonderful,tfidf_rev_zu
0,27886,132.0,396.0,4.890349,3,311,1.87,17,False,False,...,0.035624,0.018073,0.030104,0.044163,0.049626,0.008659,0.023537,0.040841,0.091644,0.039047
1,28871,89.0,178.0,4.499810,2,732,3.99,126,False,False,...,0.042473,0.033518,0.043548,0.024571,0.010804,0.018067,0.052383,0.025564,0.035001,0.030777
2,29051,61.0,122.0,4.127134,2,849,4.81,95,False,False,...,0.055840,0.044467,0.031229,0.035241,0.029700,0.018139,0.039913,0.006111,0.035326,0.014281
3,44391,NaN,NaN,NaN,3,42,0.23,0,True,False,...,0.077453,0.000000,0.022908,0.024005,0.024628,0.000000,0.000000,0.000000,0.035460,0.024761
4,48373,NaN,NaN,NaN,3,5,0.19,0,True,False,...,0.000000,0.000000,0.000000,0.131302,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

## 5.5 Final sanity checks

In [43]:
df_final.info()
df_final.isna().mean().sort_values(ascending=False).head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10480 entries, 0 to 10479
Columns: 503 entries, id to tfidf_rev_zu
dtypes: bool(90), float64(409), int64(4)
memory usage: 33.9 MB

rev_min_stay           0.439504
price_clean            0.439504
log_price              0.439504
tfidf_rev_wonderful    0.104676
tfidf_rev_zu           0.104676
tfidf_rev_una          0.104676
tfidf_rev_très         0.104676
tfidf_rev_trip         0.104676
tfidf_rev_transport    0.104676
tfidf_rev_tram         0.104676
tfidf_rev_train        0.104676
tfidf_rev_tout         0.104676
tfidf_rev_tips         0.104676
tfidf_rev_time         0.104676
tfidf_rev_things       0.104676
tfidf_rev_thanks       0.104676
tfidf_rev_thank        0.104676
tfidf_rev_séjour       0.104676
tfidf_rev_sure         0.104676
tfidf_rev_super        0.104676
dtype: float64

# Final Summary – What We Achieved with the Airbnb Data

## 1. Main Goal

The main result of this work is a **single, clean dataset (`df_final`) ready for Machine Learning**, where each row represents one Airbnb listing and each column is a meaningful, numeric feature.

This final dataset combines:
- Static information about the listing.
- Time/season patterns from the calendar.
- Text information from descriptions and reviews.

All this is prepared so that tomorrow we can plug it directly into ML models.

---

## 2. What the Final Dataset Contains

In `df_final` we ended up with four big types of features:

1) Numeric features (listing‑level)
- Cleaned price (`price_clean`), minimum nights, number of reviews, etc.
- New numeric variables that summarize behaviour, e.g.:
  - Estimated revenue for minimum stay (`rev_min_stay`).
  - Log‑transformed price (`log_price`) to reduce skewness.

→ These columns tell the model “how this listing is priced and behaves in general”.

2) Categorical features (listing‑level, one‑hot encoded)
- Variables like room type, property type, neighbourhood, etc.
- Converted into 0/1 columns (one‑hot), e.g.:
  - `room_type_Entire home/apt`
  - `room_type_Private room`

→ These columns tell the model “what kind of listing this is and where it is located”.

3) Temporal / availability features (from calendar)
- Overall availability rate: how often a listing is available during the period.
- Seasonal availability: availability in Winter, Summer, etc.

→ These columns tell the model “how demand and occupancy change for this listing across the year”.

4) Text‑based features (TF–IDF)
- From the listing description and, optionally, from guest reviews.
- TF–IDF turns text into numeric signals about the words that best describe each listing or the guest experience.

→ These columns tell the model “what is being said about this listing and how it is described”.

---

## 3. Why This Matters for the Next Phase

Thanks to this pipeline, we now have:

- A **single, consistent table** (`df_final`) instead of three separate raw datasets.
- Features that are:
  - Numeric (no raw text or messy strings).
  - Already cleaned and engineered to capture useful patterns.
- A structure that any ML algorithm can use directly (regression, classification, tree‑based models, etc.).

In other words:

We transformed raw Airbnb data (listings, calendar, reviews) into a **rich feature matrix** that summarizes:
- What each listing is like,
- How it is booked over time,
- And how it is described and reviewed.

This is exactly what is needed to build and compare machine learning models in the next hackathon session.